body {
  background-color: #000066;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

input {
  background-color: #899aa1;
  width: 100px;
  color: white;
  text-align: center;
  margin-right: 3px;
}

button {
  background-color: blue;
  color: white;
  font-size: large;
  width: 65px;
  border-bottom-left-radius: 22%;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 10%;
  border-top-right-radius: 22%;
  border-width:0px;
}